@import "../../assets/colors";
.blue {
  background-color: #5aaf6c;
  color: white !important;
  & > * {
    color: white !important;
  }
  .MuiTypography-colorPrimary {
    color: white !important;
  }
}
.MuiGrid-spacing-xs-1 {
  width: calc(100% - 4px) !important;
}
.style-footer {
  height: 200px;
  display: flex;
  align-items: center;
  padding: 10px;
  .text-name {
    display: block;
    text-align: center;
    cursor: pointer;
  }
  img {
    width: 100%;
    object-fit: fill;
  }
  .footer-1 {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  a {
    text-decoration: none !important;
  }
}
